<?xml version="1.0" encoding="utf-8" ?>
<!--
    Nota: adicione entradas para arquivo App.config para as definições de configuração 
 que se aplicam apenas ao projeto Test.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
    <add name="conexao"  connectionString="Data Source=DESKTOP-NM2NDSU\SQLEXPRESS;Initial Catalog=TCC;Integrated Security=True" providerName="System.Data.SqlClient"/>

    </connectionStrings>
</configuration>
